<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @equipment_things_to_check.name %>
</p>

<%= link_to 'Edit', edit_equipment_things_to_check_path(@equipment_things_to_check) %> |
<%= link_to 'Back', equipment_things_to_checks_path %>
