<div>
	<h4><a href="/equipment">Equipment</a> </br>
    <!-- <a href="/equipment_things_to_checks">Equipment Things To Check</a> </br> -->
    <a href="/rooms">Rooms</a> </br>
    <a href="/routes">Routes</a> </br>
    <!-- <a href="/route_sub_types">Route Sub Types</a> </br> -->
    <!-- <a href="/route_things_to_checks">Route Things To Check</a> </br> -->
    <!-- <a href="/route_type">Route Type</a> </br> -->

    <br><br> 
    <a href="/">Home</a> </br></h4>
</div>	
