<div>
	<h4><a href="/equipment">Equipment</a> </br>
    <a href="/equipment_things_to_checks">Equipment Things To Check</a> </br>
    <a href="/rooms">Rooms</a> </br>
    <a href="/routes">Routes(R1, UC)</a> </br>
    <a href="/route_sub_types">Route Sub Types(Input, Shutoff)</a> </br>
    <a href="/route_things_to_checks">Route Things To Check</a> </br>
    <a href="/route_types">Route Type(Daily or Route Check)</a> </br>

    <br><br>
    <a href="/">Home</a> </br></h4>
</div>	