

<div class="row" >
	<div class="col-md-12" >
		
			
			
			<% if @loggedIn %>
				
				<div style="padding-top:10px">
					<%= render "chooseRoute" %>
				</div>
			<% else %>
				<div style="padding-top:10px">
					<%= render "login" %>
				</div>
			<% end %>
		
	</div>
</div>

</body>
</html>
















